@font-face {
  font-family: '3574';
  src: url('3574.eot');
  src: url('3574.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'a_LCDNova';
  src: url('a_LCDNova.svg#a_LCDNova') format('svg'),
       url('a_LCDNova.ttf') format('truetype'),
       url('a_LCDNova.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url("//hello.myfonts.net/count/3d620e");

@font-face {
  font-family: "Pico-Regular";
  src: url('MyFontsWebfontsKit-2/webFonts/PicoRegular/font.woff2') format('woff2'),
  url('MyFontsWebfontsKit-2/webFonts/PicoRegular/font.woff') format('woff'),
  url('MyFontsWebfontsKit-2/webFonts/PicoRegular/d[esign] - Pico Regular.ttf') format('truetype');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 90%;
}

body {
  background-color: #E0E266;
}

#result {
  display: none;
  opacity: 0;
  width: 50%;
  height: 100%;
  justify-content: center;
  flex-direction: column;
}

#result p {
  font-family: "Pico-Regular";
  text-align: center;
}

#caption {
  font-size: 39px;
  margin-top: 50px;
}

#score-wrapper {
  display: flex;
  justify-content: center;
}

#score {
  display: inline-block;
  position: relative;
}

.points {
  font-size: 320px;
}

#points-1 {
  color: #821AD3;
}

#points-2 {
  color: #C545E1;
  position: absolute;
  left: 16px;
  top: 0px;
}

#skill {
  font-size: 27px;
}

.button {
  width: 180px;
  height: 90px;
  margin: 50px auto 0;
  background-image: url("../img/retry_btn.svg");
  background-repeat: no-repeat;
  background-size: 100%;
  cursor: pointer;


}

#play {
  margin-top: 90px;
}

.button p {
  text-align: center;
  line-height: 65px;
  font-size: 25px;
  font-family: "Pico-Regular";
}

#start-screen {
  display: flex;
  height: 100%;
}

.app-name {
  text-align: center;
  font-family: "Pico-Regular";
  font-size: 220px;
  line-height: 160px;
}

#name-wrapper {
  display: flex;
  justify-content: center;
}

#name {
  display: inline-block;
  position: relative;
}


#app-name {
  color: #821AD3;

}

#app-name-2 {
  color: #C545E1;
  position: absolute;
  top: 0;
  left: 11px;
}

.screen-part {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#video {
  width: 70%;
  display: block;
  margin: 0 auto;
  outline: none;
  box-shadow: 0px 0px 41.0967px rgba(0, 0, 0, 0.25);
}

#tubes {
  height: 50%;
  width: 100%;
  min-width: 1000px;
  display: none;
  justify-content: space-between;
}

.tube-wrapper {
  width: 15%;
  height: 100%;
  margin: 0 2.5%;
  display: none;
  opacity: 0;
  max-width: 250px;
}


.tube {
  width: 100%;
  height: 100%;
  /* margin: 0 5%; */
  float: left;
  cursor: pointer;
  min-width: 140px;
}



.tube:hover .screen p {
  color: #2BF588;
}

.active-tube {
  /* animation: spring 1s; */
}

@keyframes spring {
  0% {height: 200px;}
  25% {height: 160px;}
  50% {height: 200px;}
  75% {height: 300px;}
  100% {height: 200px;}
}

.tube-part {
  margin: 0 auto;
  position: relative;
}

.upside {
  width: 20%;
  height: 70%;
  background-color: #A5A5A5;
  border-left: 6px solid black;
  border-right: 6px solid black;
  transition: height 0.5s;
}

.hovered-tube {
  height: 240px !important;
}

.centerside {
  width: 75%;
  top: -20px;
}

.downside {
  width: 100%;
  /* height: 15%; */
  /* background-image: url("../img/tube-downside.png");
  background-size: 100% auto;
  background-position: top center;
  background-repeat: no-repeat; */
  /* overflow: hidden; */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 2;

}

.tube-down {
  width: 100%;
  position: relative;
  z-index: 2;

}

.screen-wrapper {
  position: absolute;
  top: 0;
  width: inherit;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.screen {
  width: 40%;
  border: 4px solid black;
  background-color: #272626;
  margin: 0 auto;
  z-index: 3;
  position: relative;
}

.screen p {
  font-family: a_LCDNova;
  color: #5EE500;
  font-size: 16px;
  width: 100%;
  text-align: center;
  line-height: 140%;
}

#conveyor {
  position: absolute;
  bottom: 0;
  overflow: hidden;
  width: 100%;
  height: 30%;

}

#tape {
  width: 100%;
  height: 12px;
  background-color: #9D9C9B;
}

.fittings {
  width: 100%;
  height: 9px;
  background-color: black;
}

#wheel-line {
  width: 5000px;
  height: 40%;
  /* margin: -10px 0; */
}

.wheel-wrapper {
  margin: -10px 0;
}

.wheel {
  width: 1.07%;
  height: 100%;
  margin: 0 16px;
  background-image: url("../img/outside-wheel-2.png");
  background-repeat: no-repeat;
  background-size: 100%;
  float: left;
}

.wheel img {
  display: block;
  margin: 0 auto;

}

.table {
  display: table;
  width: 100%;
  height: 100%;
}

.table-cell {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

@keyframes rotating {
  from {transform: rotateZ(0deg)}
  to {transform: rotateZ(360deg)}
}

.active-wheel-clockwise {
  animation: rotating 1s;
}

.inner-wheel {
  transition: transform 1s;
}

.fitting-line {
  position: relative;
  z-index: 2;
  width: 5000px;
}
#line-up,
#line-down {
  left: -70px;
}



.fitting-item {
  width: 32px;
  height: 10px;
  background-color: black;
  float: left;
  margin: 0 54px;


}


.clear {
  clear: both;
}

#burger {
  position: relative;
  left: 2%;
  display: none;
  opacity: 0;
}

#burger img {
  display: block;
}

.flat {
  position: relative;
  display: block;
  margin: 0 auto;
}

.component {
  position: absolute;
  bottom: -23%;
  width: 100%;
}

.component-img {
  display: block;
  margin: 0 auto;
  width: 90%;

}

@media screen and (max-width: 1400px) {
  .app-name {
    font-size: 160px;
    line-height: 100px;
  }
}

@media screen and (max-width: 1200px) {
    .app-name {
      font-size: 120px;
      line-height: 90px;
    }

    #app-name-2 {
      left: 8px;
    }
}
@media screen and (max-width: 1000px) {
  #start-screen {
    flex-direction: column;
    justify-content: center;
  }

  .screen-part {
    width: 100%;
  }

  #video {
    margin-top: 100px;
  }

  .tube {

  }

  .tube-wrapper {
    float: left;
  }

}
